#board{
    background: rgba(255,255,255,.45) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.25);

    box-shadow:
        0 8px 32px rgba(31,38,135,.18);
}

#toc {
  padding: 10px;
  top: 4rem;
  background-color: var(--board-bg-color);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
